@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
    <div style="margin: 20px;">
        <div class="btn btn-primary" id="btnQuery">GetUsersWithPermissionsQuery</div>
        <div class="row">
            <div class="col-md-6">
                    <div class="panel">
                        <div>Результат выполнения запроса:</div>
                        <div id="resQuery"></div>
                    </div>
            </div>
        </div>
        <div class="btn btn-primary" id="btnCommand">Send Command</div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div>Результат выполнения команды:</div>
                    <div id="resCommand"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#btnQuery").click(function() {
                $.get("/Cqrs/Query?serviceName=users&queryName=GetUsersWithPermissionsQuery&json={'Permissions':['admin','user']}",
                    function(data) {
                        console.log(data);

                        var str = "<table class='table table-bordered table-hover' ><tr><th>Id</th><th>Name</th><th>Permissinon</th></tr>";
                        for (var i = 0; i < data.length; i++) {
                            str += "<tr><td>" + data[i].Id + "</td><td>" + data[i].Name + "</td><td>" + JSON.stringify( data[i].Permissions) + "</td></tr>";
                        }
                        str += "</table>";

                        $("#resQuery").html(str);
                    });
            });
        });
    </script>
</body>
</html>